@import './reset.css';


#bg-top {
   background-image:
   linear-gradient(
   rgba(0,0,0,0),
   rgba(0,0,0,0)),
   url('../assets/bee-rock-one.jpg');
   width: 100%;
   height: calc(100vh);
   background-size: cover;
   background-position: center;
}


#countdown {
   text-align: center;
   color: #414c62;
   padding-top: 40px;
}

#countdown div,
#countdown span {
   display: inline-block;
}

#countdown .bigg {
   font-size: 4rem;
   font-weight: 600;
   line-height: 1;
}

#countdown .smol {
   font-size: 1rem;
   text-transform: uppercase;
   width: 76px;
   text-align: center;
}

#day-lbl {
   position: relative;
   right: 24px;
}
#min-lbl {
   position: relative;
   left: 24px;
}


#a {
   padding: 100px 20px;
   background-color: #414c62;
   color: #fce8e2;
}





@media screen and (max-width:620px) {
   #bg-top {
      background-image:
      url('../assets/bee-rock-two.jpg');
   }
}

