@import './reset.css';


#bg-top {
   background-image: url('../assets/bee-rock-one.jpg');
   width: 100%;
   height: calc(100vh);
   background-size: cover;
   background-position: center;
}

h1 {
   text-align: center;
   font-family: cursive;
   font-size: 50pt;
   font-weight: 400;
   /* color: white; */
}


#a {
   padding: 100px 20px;
   background-color: #414c62;
   color: #fce8e2;
}





@media screen and (max-width:620px) {
   #bg-top {
      background-image: url('../assets/bee-rock-two.jpg');
   }
}

